<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #795238;">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/admin">
      ☕ Cafetería NYU - Admin
    </a>

    <ul class="navbar-nav me-auto ms-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Panel</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/stock">Stock</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/plans">Planes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/promotions">Promociones</a>
      </li>
    </ul>

    <div class="text-white text-end">
      <strong>Jhon Alarcon</strong><br>
      <small>Administrador</small>
    </div>
  </div>
</nav>